[Unit]
Description=Run a demo webserver
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/library/caddy
Network=host

[Install]
WantedBy=default.target

[Service]
# Restart service when sleep finishes
Restart=always
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

